.footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 50px;
        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 20px;
            gap: 20px;
        }
    }

    &__logos {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;

    &__item {}

    &__link {
        height: 45px;
        width: 100%;
        display: block;

        svg {
            width: 100%;
            max-height: 45px;

            path {
                fill: #fff;
            }
        }
    }
}