.header {
    // background-color: var(--red);
    background: linear-gradient(to bottom, #000000 0%, #ff0000 100%);
    padding: 20px 0;
    z-index: 55;
    position: relative;

    @media (max-width: 991px) {
        padding: 15px 0;
        min-height: 70px;
        max-height: 70px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 220px 2fr 1fr; // Логотип, навигация, блок справа
        align-items: center;
        column-gap: 20px; // Промежутки между колонками

        @media (max-width: 991px) {
            grid-template-columns: 135px 1fr;
        }

        @media (max-width:767px) {
            grid-template-columns: 125px 1fr;
        }

        .logo {
            @media (max-width: 991px) {
                img {
                    max-width: 135px;
                }
            }
            @media (max-width: 767px) {
                img {
                    max-width: 125px;
                }
            }
        }
    }

    .nav {
        @media (max-width: 991px) {
            display: none;
        }

        &__list {
            display: flex;
            justify-content: center; // Центровка навигационных ссылок
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__item {
            margin: 0 10px;
            position: relative;

            &::before {
                content: '/';
                position: absolute;
                font-size: 30px;
                color: #fff;
                font-weight: 700;
                line-height: 1;
                right: -15px;
                top: -6px;

                @media (max-width: 1199px) {
                    display: none;
                }
            }

            &:first-child::after {
                content: '/';
                position: absolute;
                left: -15px;
                top: -6px;
                font-size: 30px;
                color: #fff;
                font-weight: 700;
                line-height: 1;

                @media (max-width: 1199px) {
                    display: none;
                }
            }

        }

        &__link {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 5px;
            font-size: 18px;
            transition: all 0.3s ease;

            @media (max-width: 1199px) {
                font-size: 16px;
            }

            &:hover {
                color: #fff; // Добавим эффект наведения
            }
        }
    }

    &__box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        position: relative;
    }
}

/***** Submenu *****/
.homePage {
    .submenu {
        display: block;
    }
}
.submenu {
    background-color: #d2d0d0;
    padding: 30px 0;
    position: relative;
    display: none;

    &__box {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        @media (max-width: 767px) {
            grid-template-columns: auto;
            justify-content: center;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 56px;
        box-shadow: 0px 6px 12px #666;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            max-width: 180px;
            min-width: 180px;
            margin: 0 auto;
        }

        &:hover,
        &--active {
            background-color: var(--red);

            svg {
                fill: #fff !important;
            }
        }

        svg {
            height: 34px;
            max-height: 34px;
            width: auto;
            fill: var(--red);
            transition: all 0.3s ease;
        }
    }

    &__menu {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 140px;
        z-index: 15;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            position: unset;
            transform: unset;
        }

        &--active {
            display: block;
        }

        &-title {
            font-weight: 500;
            color: var(--red);
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
            a {
                color: var(--red) !important;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: "▶";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    color: black;
                    font-size: 16px;
                }

                a {
                    font-weight: 500;
                    font-size: 20px;
                    color: #000 !important;
                    line-height: 1.2;
                }
            }
        }
    }
}

/** Contact modal btn **/
.contact-modal-btn {
    cursor: pointer;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }

    svg {
        transform: scale(.75)
    }
}

/** Search **/
.search-box {
    width: 40px;
    height: 40px;
    position: relative;
    @media (max-width: 991px) {
        width: 30px;
        height: 30px;
    }

    &__inner {
        position: absolute;
        top: 5px;
        left: 5px;
        @media (max-width: 991px) {
            top: 0;
            left: 0;
        }

        .btn-search {
            position: relative;
            z-index: 15;

            svg {
                width: 28px;
                height: 28px;

                path {
                    fill: #fff;
                    transition: all 0.5s ease;
                }
            }

            &--active {
                svg path {
                    fill: var(--red);
                }
            }
        }
    }

    &__input {
        position: absolute;
        right: -15px;
        top: -5px;
        width: 840px;
        height: 40px;
        display: none;

        &--active {
            display: block;
        }

        .input-search {
            background-color: #fff;
            border-radius: 8px;
            height: 100%;
            width: 100%;
            padding: 5px 15px;
            font-size: 16px;
            font-weight: 500;
            outline: none;
        }
    }
}

.search-result {
    display: none;
    position: absolute;
    top: calc(var(--header-height) - 1px);
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 15px 0;

    &--active {
        display: block;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__item {
        color: #000;
        font-size: 18px;
        padding: 15px 8%;
        background-color: #fff;
        transition: all 0.3s ease;
        @media (max-width: 991px) {
            padding: 15px 15px;
        }

        &:hover {
            background-color: var(--red);
            color: #fff;
        }
    }
}