
.hero {
    background-color: #dddbdb;
    padding: 50px 0;
}

.heroSwiper {
    max-width: 880px;
    margin: 0 auto;

    &__item {
        background-color: #fff;
        border-radius: 20px;
        border: 3px solid var(--red);
        display: flex;
        flex-direction: column;
        padding: calc(var(--index) * 2.5) 30px;

        &-img {
            margin: 0 auto;

            img {
                min-height: 322px;
                max-height: 322px;
                object-fit: cover;
            }
        }

        &-descr {
            margin-top: 40px;
            display: flex;
            justify-content: center;

            >span {
                background-color: var(--red);
                padding: 12px 30px;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                display: inline-flex;
                border-radius: 8px;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        cursor: pointer;
        z-index: 10;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        border-width: 20px 0 20px 12px;
        /* Верхняя, правая, нижняя, левая границы */
        border-color: transparent transparent transparent var(--red);
        /* Треугольник вправо */
        right: 30px;
        /* Позиционирование справа */
    }

    .swiper-button-prev {
        border-width: 20px 12px 20px 0;
        /* Верхняя, правая, нижняя, левая границы */
        border-color: transparent var(--red) transparent transparent;
        /* Треугольник влево */
        left: 30px;
        /* Позиционирование слева */
    }

    .swiper-pagination-wrap {
        position: absolute;
        inset: 0;
        width: 100%;
        height: calc(100% - 30px);
        // z-index: 9;
    } 

    .swiper-pagination {
        // position: unset;
        // left: 80%;
        // top: calc(var(--index) * 13.7);
        // display: flex;
        max-height: fit-content;
        top: 97%;


        .swiper-pagination-bullet {
            width: 13px;
            height: 13px;
            border: 2px solid var(--red);
            background-color: #fff;

            &.swiper-pagination-bullet-active {
                background-color: var(--red);
            }
        }
    }
}