
.mob-menu {
    position: absolute;
    left: 0;
    top: calc(var(--header-height) - 1px);
    font-size: 13px;
    min-width: 295px;
    width: 100%;
    z-index: 55;
    background-color: #D2CFD0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
    ul.mob-menu-mnu {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: left;
      display: flex;
      flex-direction: column;
      li {
        text-transform: uppercase;
        a {
          color: #000;
          text-decoration: none;
          display: block;
          line-height: 48px;
          margin: 0 15px;
          padding: 0 15px !important;
          border-bottom: 1px solid var(--red);
          letter-spacing: 1px;
          font-size: 18px;
          transition: all 0.3s ease;
        }
        &:active {
          a {
            // background-color: darken(#555, 8%);
            color: #000;
          }
        }
        &:hover {
          a {
            // background-color: darken(#555, 8%);
            color: #000;
          }
        }
      }
    }
    &.menu--active {
      display: block;
    }
    &__social {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .social__link svg path {
        fill: var(--red);
      }
    }
  
    &__footer {
      margin: 0 15px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-head__languages-nav {
        a {
          font-size: 16px;
        }
      }
    }
  }
  
  .modal-overlay-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.6);
    inset: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
    &.is-active {
      opacity: 1;
      z-index: 54;
    }
  }